<!--products-->
<div class="agile-prod" id="products">
    <div class="container">
        <h3>Products</h3>
        <div class="agile-prod1">
            <div class="agile-sub">
                <h4>our products</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="agile-img">
                <img src="~/Assets/Images/p1.jpg" alt="image">
            </div>
        </div>
        <div class="agile-prod2">
            <img src="~/Assets/Images/p2.jpg" alt="image">
            <div class="agile-info">
                <h4>our products</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="agile-info-img">
                <img src="~/Assets/Images/p4.jpg" alt="image">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//products-->
