<!-- team -->
<div class="team-page" id="team">
    <div class="container">
        <h3 class="title"> Our Team</h3>
        <div class="col-md-4 about-poleft t1">
            <div class="about_img">
                <img src="~/Assets/Images/t1.jpg" alt="">
                <h5>Victoria</h5>
                <div class="about_opa">
                    <p>Manager</p>
                    <ul class="fb_icons2 text-center">
                        <li><a class="fa fa-facebook" href="#"></a></li>
                        <li><a class="fa fa-twitter" href="#"></a></li>
                        <li><a class="fa fa-google" href="#"></a></li>
                        <li><a class="fa fa-linkedin" href="#"></a></li>
                        <li><a class="fa fa-pinterest-p" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 about-poleft t2">
            <div class="about_img">
                <img src="~/Assets/Images/t2.jpg" alt="">
                <h5>Darponia</h5>
                <div class="about_opa">
                    <p>Designer</p>
                    <ul class="fb_icons2 text-center">
                        <li><a class="fa fa-facebook" href="#"></a></li>
                        <li><a class="fa fa-twitter" href="#"></a></li>
                        <li><a class="fa fa-google" href="#"></a></li>
                        <li><a class="fa fa-linkedin" href="#"></a></li>
                        <li><a class="fa fa-pinterest-p" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 about-poleft t3">
            <div class="about_img">
                <img src="~/Assets/Images/t3.jpg" alt="">
                <h5>Patricka</h5>
                <div class="about_opa">
                    <p>Assistant</p>
                    <ul class="fb_icons2 text-center">
                        <li><a class="fa fa-facebook" href="#"></a></li>
                        <li><a class="fa fa-twitter" href="#"></a></li>
                        <li><a class="fa fa-google" href="#"></a></li>
                        <li><a class="fa fa-linkedin" href="#"></a></li>
                        <li><a class="fa fa-pinterest-p" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //team -->