<div class="slider">
    <!-- Slideshow 3 -->
    <ul class="rslides" id="slider">
        <li>
            <img src="~/Assets/Images/bg1.jpg" alt="">
            <div class="slider-info">
                <h4>Lorem ipsum <span>amet dolor</span></h4>
                <p>Quis nostrud exercitation ulla</p>
                <h6><span>Lorem ipsum</span> amet dolor</h6>
            </div>
        </li>
        <li>
            <img src="~/Assets/Images/bg2.jpg" alt="">
            <div class="slider-info">
                <h4>adiping elitrs <span>eius tempo</span></h4>
                <p>ut labore et dolore magna aliq</p>
                <h6><span>incidit ut</span> do eiusmod</h6>
            </div>
        </li>
        <li>
            <img src="~/Assets/Images/bg3.jpg" alt="">
            <div class="slider-info">
                <h4>incidit ut labo <span>dol magna</span></h4>
                <p>sed do eiusmod tempor incid</p>
                <h6><span>adiping elit</span> et dolore</h6>
            </div>
        </li>
    </ul>
    <!-- Slideshow 3 Pager -->
    <ul id="slider3-pager">
        <li><a href="#"><img src="~/Assets/Images/bg1_s.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Assets/Images/bg2_s.jpg" alt=""></a></li>
        <li><a href="#"><img src="~/Assets/Images/bg3_s.jpg" alt=""></a></li>
    </ul>
</div>	
